@charset "UTF-8";
li{ list-style: none;}
*{ margin: 0; padding: 0;}
.body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.top_logo{
	width:100%; height: 250px;
	border : 1px solid red;
	background-image: url("./img/toplogo.png");
	background-repeat: no-repeat;
	background-position: 50%; 
	background-size: contain;
	background-color: #F7F1EB;
}
.category_menu{
	width:1200px;
	border: 1px solid red;
	display :flex;
	justify-content: center;
}
.category_menu button{
	margin: 10px;
	background-color: white;
	border-radius: 15px;
}
.contentBox{
	display: flex;
	justify-content: center;
	border: 1px solid red;
	width: 1200px;
	height: 800px;
}
.content{
	display:flex;
	flex-wrap:wrap;
	width:500px; height:800px;
	border: 1px solid red;
}
.reviewBox{
	border: 1px solid red;
	width: 1200px;
	height: 200px;
}


.test1{
	width: 50%;
	border: 1px solid red;
}
.sum{
	width: 100px; height: 50px;
}
