@charset "UTF-8";
/* 헤더 메뉴 */
#wrap{
	width: 1200px ;
}
@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
#head_menu {
	width:100%;
  	display: flex;
  	justify-content: space-around;
	align-items: center;
	padding: 10px; /* 원하는 여백 크기로 조정 */
	text-align: center;
	position: sticky;
	z-index: 10;
	top: 0;
	background-color: white;
}
#head_menu img {
  width: 140px;
  height: 50px; /* 로고 이미지의 높이를 원하는 크기로 조정 */
  margin-left: 195px;
  object-fit : cover; 
}

#head_menu ul {
  display: flex;
  gap: 10px; /* 메뉴 간격을 원하는 크기로 조정 */
  list-style: none;
  margin-right: 38px;
}

#head_menu ul li {
  padding: 3px 0px 10px 7px;
  font-size: 18px;
}

#head_menu ul li a {
  text-decoration: none;
  color: black;
}
.head_name{
	color: #FF6A00;
}
 .head_search {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;    
    border-radius: 5px;
        }
.head_search input[type="search"] {
    width: 210px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #eeeeee;
}
.chat_button{
	border: 0.5px solid #b8bcc3;
	border-radius: 0.3rem;
	font-size: 1.0rem;
	font-weight: 600;
	margin: 0 auto;
	width: 80px;
	height: 40px;
	display: flex;
	justify-content: center;/*수평 가운데 정렬*/
	align-items: center; /*수직 가운데 정렬*/
	background-color: white;
}