@charset "UTF-8";
/* 22 */
/* 공통부분 */
*{
	padding: 0px; margin: 0px; font-size: 12px
}
/* a기본값 제거 */
a{
	color: black; text-decoration: none;
}
/* 글머리 */
li{
	list-style-type: none;
}

/* 로그인/회원가입 */


#wrap{
	width : 1200px;
	height: 600px;;
	margin: 0 auto;
	margin-top: 50px;
}
#Account{
	width : 1180px;
	height: 580px;;
	border: 1px solid black;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	background-color: #4F4B50;
}
._signUpField{
	width : 400px;
	height: 450px;
	border: 1px solid white;
	margin-left: 100px;
	margin-top: 40px;
	background-color: #646168;
}
._LoginField{
	width : 400px;
	height: 450px;
	border: 1px solid  white;
	margin-right: 100px;
	margin-top: 40px;
	background-color: #646168;
}
._signUpField h3{
	width : 400px;
	height: 100px;
	border: 1px solid white;
	font-size: 40px;
	text-align: center;
	padding-top: 30px;
	background-color: #938D99;
	
}
._LoginField h3{
	width : 400px;
	height: 100px;
	border: 1px solid white;
	font-size: 40px;
	text-align: center;
	padding-top: 30px;
	background-color: #938D99;
}
#Account input{
	width : 300px;
	height: 40px;
	display: block;
	margin: 0 auto;
	padding-left: 20px;
}
._signUpField button{
	width : 300px;
	height: 50px;
	display: block;
	margin: 0 auto;
	margin-top : 43px;
}
._LoginField button{
	width : 300px;
	height: 50px;
	display: block;
	margin: 0 auto;
	margin-top : 103px;
}



/* 메인페이지 */
#main{	
	width : 1180px;
	height: 580px;;
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	background-color: #4F4B50;
}

/* 메인페이지 left */
.MainPriceListView{
	border: 1px solid black;
	width : 580px;
	height: 552px;
	display: flex;
	justify-content: space-between;
	padding-top: 18px;
}
.MainPriceListView_left{
	width : 280px;
	height: 570px;
}
.MainPriceListView_right{
	width : 280px;
	height: 570px;
}
.MainPriceListView_left div{
	margin-left: 20px;
}
.MainPriceListView_right div{
	margin-right: 20px;
}
.PriceListItem{
	width : 250px;
	height: 80px;
	margin-top: 30px;
	text-align: center;
	border: 1px solid white;
	color: white;
	font-size: 15px;
	padding-top: 20px;
}
.PriceListItem h4{
	font-size: 15px;
}
.PriceListItem span{
	margin-top: 7px;
	display: block;
	font-size: 20px;
}

/* 메인페이지 right */
.MainRightMenu{
	border: 1px solid black;
	width : 580px;
	height: 525px;
	padding-top: 45px;
}
.outputConsumerInfo{
	border: 1px solid white;
	width : 500px;
	height: 300px;
	margin: 0 auto;
	color: white;
	font-size: 24px;
	padding-left: 30px;
	padding-top: 30px;
}
.Main_Button{
	width : 500px;
	height: 70px;
	margin: 0 auto;
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
}
.outputConsumerInfo h3{
	width: 250px;
	height: 80px;
	color: white;
	font-size: 30px;
	margin: 0 auto;
	text-align: center;
	padding-right: 30px;
}
.Main_Logout_Button{
	display: block;
	width : 500px;
	height: 70px;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
	background-color: #f0f0f0;
	text-align: center;
}




/* 관리자페이지 */
#Admin{	
	width : 1180px;
	height: 580px;;
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	background-color: #4F4B50;
}
#Admin_Left{
	padding-top: 40px;
	border: 1px solid black;
	width : 580px;
	height: 530px;
}
#Admin_Left h3{
	margin: 0 auto;
	text-align: center;
	font-size: 22px;
	color: white;
}
#_AdminTable{
	border: 1px solid white;
	color: white;
	margin: 0 auto;
	margin-top: 30px;
}
#_AdminTable th{
	border: 1px solid white;
	font-size: 16px;
	height: 45px;
}
.table_1_id{
	width: 150px;
}
.table_2_pwd{
	width: 150px;
}
.table_3_grade{
	width: 60px;
}
.table_4_totalPrice{
	width: 130px;
}
#_AdminTable td{
	border: 1px solid white;
	text-align: center;
}
#Admin_Left button{
	width: 75px;
	height: 40px;
	margin-left: 40px;
	font-size: 15px;
}





#AdminViewTable{
	border: 1px solid black;
	width : 580px;
	height: 350px;
	padding-top: 40px;
}
#AdminViewTable h3{
	margin: 0 auto;
	text-align: center;
	font-size: 22px;
	color: white;
	margin-bottom: 60px;
}
#AdminViewTable div{
	width: 400px;
	height: 50px;
	margin-left: 40px;
	font-size: 20px;
	color: white;
}
#AdminViewTable button{
	width: 70px;
	height: 40px;
	margin-left: 40px;
}


























