@charset "UTF-8";
*{margin:  0px 0px;
padding: 0px 0px;}


body{
	background-color: black;
}

.mainBox{
	width: 800px;
	height: 300px;
	margin: 0 auto;
	margin-top : 50px;
	color: red;
	font-size: 80px;
	text-align: center;
}

.restartBox{

	width: 800px;
	height: 800px;
	margin: 0 auto;
	margin-top : 10px;
	background-color: black;
	display: flex;
    flex-wrap: wrap;

}
.restartBox button{
	width: 265px;
	height: 265px;
	font-size: 100px;
	background-color: white;
}